* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    width: 1000px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: blue; */
    gap: 0px;
}

.coffeeroasters a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 30px;
}

.list {
    width: 350px;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.list a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.about-wrapper {
    background-image: url(Group\ 7.png);
    width: 1000px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* position: relative; */
    /* left: 20px; */
    border-radius:10px;
    gap: 20px;
}

.about-item-p {
    width: 400px;
    color: aliceblue;
    position: relative;
    left: 90px;
}

.about-item-h1 {
    width: 400px;
    color: aliceblue;
    position: relative;
    left: 90px;
}

.commitment-wrapper img {
    width: 400px;
    height: 500px;
}

.commitment-wrapper {
    width: 1000px;
    display: flex;
    /* flex-direction: column; */
    /* background: rgb(110, 110, 110); */
    height: 500px;
    position: relative;
    top: 150px;
    /* justify-content: center;align-items: center; */
}

.commitment-wrapper p {
    width: 400px;
    position: relative;
    bottom: -120px;
    left: 100px;
    color: #575757;
}

.commitment-wrapper h1 {
    width: 400px;
    position: relative;
    bottom: -100px;
    left: 100px;
    color: #333d4b;
}

.quality-item {
    width: 1000px;
    height: 475px;
    display: flex;
    background: #333d4b;
    position: relative;
    top: 350px;
    /* left: 30px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.quality-item h1{
    color: aliceblue;
}
.quality-item p{
    color: #cdcdcd;
}

.quality-wrapper p {
    width: 400px;
    position: relative;
    left: 50px;
    top: 150px;
}

.quality-wrapper h1 {
    width: 400px;
    position: relative;
    left: 50px;
    top: 120px;
}

.quality-wrapper img {
    width: 400px;
    position: relative;
    bottom: 80px;
}

.headquarters-wrapper {
    position: relative;
    top: 500px;
    color: #83888f;
}

.Kingdom-wrapper {
    position: relative;
    top: 580px;
    display: flex;
    gap: 100px;
}

.Kingdom-wrapper p {
    width: 150px;
}
.Kingdom-items{
    margin-left: 50px;
}
.container2 {
    width: 1000px;
    height: 50px;
    /* background: blue; */
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 10px;
    position: relative;
    top: 700px;
    background-color: #333d4b;
}

.coffeeroasters2 a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 30px;
}

.list2 {
    width: 350px;
    /* margin-left: 620px; */
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.list2 a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}